### PostgreSQL 16

### pgAdmin

In [2]:
%pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 11.6 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

#### Dlaczego polecam bardziej bibliotekę psycopg2 niż SQLAlchemy:

- Idealny dla programistów/analityków, którzy preferują pisanie surowych zapytań SQL i potrzebują wysokiej wydajności.

Należy pamiętać, że są pewne ogranicznenia:

- Ograniczony zakres: Zaprojektowany wyłącznie dla PostgreSQL, co oznacza, że nie można go używać z innymi systemami baz danych.


**SQLAlchemy:**
- Biblioteka ORM (Object Relational Mapping), która zapewnia wyższy poziom abstrakcji nad interakcjami z bazą danych.
- Odpowiednia dla tych, którzy chcą pracować z bazami danych za pomocą obiektów Pythona zamiast zapytań SQL.

In [4]:
# POŁĄCZENIE Z BAZĄ
conn = psycopg2.connect(host='localhost', database="postgres", user="postgres", password="admin", port=5432)

In [5]:
cur = conn.cursor()

In [6]:
cur.execute("""create table IF NOT EXISTS players (
  player_id serial primary key,
  first_name text not null,
  last_name text not null,
  height numeric not null,
  weight numeric not null,
  salary numeric not null
);
""")

In [7]:
conn.commit()

In [8]:
cur.execute(""" insert into players (first_name,last_name,height,weight, salary) values
('Marian', 'Nowak', 1.90, 80, 10000),
('Jan', 'Kowalski', 1.80, 75, 150000),
('Chuck', 'Norris', 1.70, 58, 300000);
""")
conn.commit()

In [9]:
cur.execute("""SELECT * FROM players;""")
print(cur.fetchall())

[(1, 'Marian', 'Nowak', Decimal('1.90'), Decimal('80'), Decimal('10000')), (2, 'Jan', 'Kowalski', Decimal('1.80'), Decimal('75'), Decimal('150000')), (3, 'Chuck', 'Norris', Decimal('1.70'), Decimal('58'), Decimal('300000'))]

In [10]:
cur.execute("""SELECT * FROM players;""")
for row in cur.fetchall():
    print(row)

(1, 'Marian', 'Nowak', Decimal('1.90'), Decimal('80'), Decimal('10000'))
(2, 'Jan', 'Kowalski', Decimal('1.80'), Decimal('75'), Decimal('150000'))
(3, 'Chuck', 'Norris', Decimal('1.70'), Decimal('58'), Decimal('300000'))

#### Wstawianie, zmiana i kasowanie danych, oraz operacje DDL

In [11]:
# USUWANIE TABELI
# cur.execute("""DROP TABLE players""")
# conn.commit()

In [12]:
# zmiana wartości w tabeli
cur.execute("""UPDATE players SET salary = salary + (salary * 0.1);""")
conn.commit()

In [13]:
cur.execute("""SELECT * FROM players;""")
for row in cur.fetchall():
    print(row)

(1, 'Marian', 'Nowak', Decimal('1.90'), Decimal('80'), Decimal('11000.0'))
(2, 'Jan', 'Kowalski', Decimal('1.80'), Decimal('75'), Decimal('165000.0'))
(3, 'Chuck', 'Norris', Decimal('1.70'), Decimal('58'), Decimal('330000.0'))

In [ ]:
# NA KONIEC PRACY Z BAZĄ DANYCH
cur.close()
conn.close()

SQLAlchemy to popularne narzędzie służące do mapowania obiektowo-relacyjnego (ORM) w języku Python. Jest ono powszechnie używane w projektach mających do czynienia z bazami danych typu SQL. SQLAlchemy zapewnia intuicyjny interfejs do tworzenia i zarządzania tabelami, relacjami oraz zapytaniami do bazy danych. Dzięki temu programiści mogą skupić się na implementacji logiki biznesowej, zamiast na bezpośrednim korzystaniu z języka SQL. Podstawowa konfiguracja SQLAlchemy obejmuje określenie połączenia do bazy danych oraz zdefiniowanie modeli obiektów mapowanych na tabele.

In [14]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.engine import URL
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [15]:
# inicjalizacja połaczenia z bazą danych

engine = create_engine('postgresql://postgres:admin@localhost:5432/postgres')

- postgresql: Typ bazy danych (dialekt).
- user: Nazwa użytkownika bazy danych.
- password: Hasło użytkownika.
- localhost: Adres serwera bazy danych (w tym przypadku lokalny).
- 5432: Port, na którym nasłuchuje serwer PostgreSQL.
- database_name: Nazwa konkretnej bazy danych, z którą chcemy się połączyć.

In [16]:
# Obsługa zarządzania tabelami
# Tworzy bazową klase dla modeli

Base = declarative_base()

C:\Users\tomas\AppData\Local\Temp\ipykernel_5092\857840172.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [17]:
Base = declarative_base() #Tworzy bazową klasę, z której będą dziedziczyć wszystkie modele (tabele) w aplikacji.
class Product(Base): #Definiuje klasę Product, która dziedziczy po klasie bazowej Base. 
                     #To oznacza, że klasa ta będzie mapowana na tabelę w bazie danych.
    __tablename__ = 'products' #Określa nazwę tabeli

    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    price = Column(Float, nullable=False)

    def __repr__(self): #Definiuje metodę reprezentacji obiektu, która zwraca czytelną informację o produkcie
        return f'<Product(name={self.name}, price={self.price})>)'

C:\Users\tomas\AppData\Local\Temp\ipykernel_5092\3020998637.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base() #Tworzy bazową klasę, z której będą dziedziczyć wszystkie modele (tabele) w aplikacji.

In [18]:
# Tworzenie tabel w bazie danych
Base.metadata.create_all(engine) #służy do tworzenia tabel w bazie danych na podstawie zdefiniowanych modeli (klas) w SQLAlchemy

In [19]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine) #służy do tworzenia sesji, która będzie używana do interakcji z bazą danych
# każda utworzona sesja będzie używać tego samego połączenia z bazą danych (engine).
session = Session() # nowa instancja sesji.

In [20]:
nowy_produkt = Product(name='Laptop', price= 4000) #tworzy nową instancję klasy Product.
session.add(nowy_produkt) #dodaje stworzony obiekt 'nowy_produkt' do bieżącej sesji.
session.commit() #zatwierdza wszystkie zmiany wprowadzone w bieżącej sesji.